<div class="input-group mb-3">
  <input type="text" class="form-control">
</div>
<hr>
<nav class="nav">
  <p class="nav-link hover position-relative" (click)="changeStatus('PENDING')" [ngClass]="{'active': status === 'PENDING'}">Неопрацьовані
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{pending}}   
        <span class="visually-hidden">unread messages</span>
      </span>
  </p>
  <p class="nav-link hover position-relative" (click)="changeStatus('DONE')" [ngClass]="{'active': status === 'DONE'}">Архів
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{done}}   
        <span class="visually-hidden">unread messages</span>
      </span>
  </p>
</nav>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дані клієнта</th>
      <th scope="col">Випробування</th>
      <th scope="col">Доїзд до місця випробування</th>
      <th scope="col">Прийняти замовлення</th>
    </tr>
  </thead>
  <tbody *ngFor="let order of adminOrders">
    <tr class="border border-3"  *ngIf="order.status == status">
        <td>{{ order.id }}</td>
        <td>
            <tr >
                <td class="border border-1 px-2">Назва компанії або ПІП фізичної особи:</td>
                <td class="border border-1 px-2">{{ order.companyName }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">ПІП контактної особи:</td>
                <td class="border border-1 px-2">{{ order.firstAndLastName }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">Номер телефону:</td>
                <td class="border border-1 px-2">{{ order.phoneNumber }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">Електронна адреса:</td>
                <td class="border border-1 px-2">{{ order.email }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">Дата прибуття:</td>
                <td class="border border-1 px-2">{{ order.dateArrival }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">Час прибуття:</td>
                <td class="border border-1 px-2">{{ order.timeArrival }}</td>
            </tr>
            <tr>
                <td class="border border-1 px-2">Адреса прибуття:</td>
                <td class="border border-1 px-2">{{ order.addressArrival }}</td>
            </tr>
        </td>
        <td>
            <tr *ngFor="let analyz of order.basket">
                <td class="border border-1 px-2">{{analyz.analyzName}}</td>
                <td class="border border-1 px-2">{{analyz.count}}</td>
                <td class="border border-1 px-2">
                    <p *ngIf="order.optionPrice === 1">{{ analyz.priceOption1 * analyz.count }} грн</p>
                    <p *ngIf="order.optionPrice === 2">{{ analyz.priceOption2 * analyz.count }} грн</p>
                    <p *ngIf="order.optionPrice === 3">{{ analyz.priceOption3 * analyz.count }} грн</p>
                    <p *ngIf="order.optionPrice === 4">{{ analyz.priceOption4 * analyz.count }} грн</p>
                </td>
            </tr> 
        </td>
        <td>
            <tr *ngFor="let arrival of order.basketArrival" class="border border-1 px-2">
                <p>{{arrival.analyzName}}</p>
                <p>{{arrival.kilometer}} км</p>
                
                <p class="fw-bold" *ngIf="order.optionPrice === 1">{{ arrival.priceOption1 * arrival.kilometer }} грн.</p>
                <p class="fw-bold" *ngIf="order.optionPrice === 2">{{ arrival.priceOption2 * arrival.kilometer }} грн.</p>
                <p class="fw-bold" *ngIf="order.optionPrice === 3">{{ arrival.priceOption3 * arrival.kilometer }} грн.</p>
                <p class="fw-bold" *ngIf="order.optionPrice === 4">{{ arrival.priceOption4 * arrival.kilometer }} грн.</p>
            </tr>
        </td>
        <td>
            <h6>Загальна вартість послуги становить:  
                <span class="fw-bold">{{order.price}} грн.</span>
            </h6>
            <button class="btn btn-success mx-2" *ngIf="order.status == 'PENDING'" (click)="toDone(order)">Прийняти замовлення</button>
        </td>
    </tr>
  </tbody>
</table>