<div class="container">
    <div class="packages-content">
      <div class="card d-block p-3 card-style d-flex justify-content-center" *ngFor="let package of pagePackages">
        <div class="card-body" >
          <h5 class="card-title text-success text-center text-uppercase text-color-lime" style="height: 100px;">{{package.researchPackageName}}</h5>
        </div>
        <div class="mx-auto">
          <img [src]="package.imagePath" class="card-img-top" style="width: 200px;height: 200px;" alt="...">
        </div>
        <p class="card-text text-center">{{package.mainIndicators | slice: 0: 75}} ...</p>
        <h3 class="text-center"><span style="color: greenyellow; font-weight: 500;">{{package.price}}</span> грн.
        </h3>
        <a type="button" class="btn btn-success rounded-pill" [routerLink]="[ '/research-package' , package.id]">Детальніше</a>
      </div>
    </div>
  </div>
  
