<div class="container">
  <a [routerLink]="[ '' ]" routerLinkActive="active">Головна ></a>
  <h1>Договір публічної оферти</h1>


  <h3 class="text-center fw-bold mt-3">ДОГОВІР № ______</h3>
  <p class="text-center fw-bold">про надання послуг щодо проведення лабораторного аналізу </p>
  <div class="d-flex justify-content-between">
    <p>Місце укладення: ___________</p>
    <p>Дата договору: __ _______ _____ року</p>
  </div>
  <p>__________________________________________________ (в подальшому поіменоване як Виконавець), в особі
    ____________________________, який діє на підставі __________________________, з однієї сторони, та
    __________________________________________________ (в подальшому поіменоване як Замовник), в особі
    ____________________________, який діє на підставі __________________________, з другої сторони,</p>
  <div class="text-center fst-italic  fw-bold">які надалі по тексту поіменовані разом як Сторони, а кожне окремо – як
    Сторона, дійшли до взаємної згоди і уклали цей договір про надання послуг
    щодо проведення лабораторного аналізу (надалі – Договір) відповідно до чинного цивільного законодавства про
    наступне:</div>

  <h4 class="text-center fw-bold">1. ПРЕДМЕТ ДОГОВОРУ</h4>
  <p> 1.1. В порядку та на умовах, визначених цим Договором, Виконавець зобов'язується надавати послуги щодо проведення
    лабораторного аналізу ___________ (надалі – Послуги), а Замовник зобов'язується прийняти Послуги та повністю
    оплатити
    їхню ціну (вартість).</p>
  <p> 1.2. Детальний перелік Послуг, ціна Послуг, які можуть замовлятися Замовником і надаватися Виконавцем,
    узгоджуються
    Сторонами у додатках (прейскурантах) до цього Договору.</p>
  <p>1.3. __________________________________________________________________________________</p>

  <h4 class="text-center fw-bold">2. ПОРЯДОК ТА УМОВИ НАДАННЯ ТА ПРИЙМАННЯ
    ПОСЛУГ ЗА ЦИМ ДОГОВОРОМ</h4>
  <p> 2.1. Замовлення на проведення лабораторного аналізу нафтопродуктів передаються Виконавцю у вигляді електронного
    повідомлення, надісланого на адресу Виконавця електронною поштою, яка вказана у реквізитах в цьому Договорі, або
    іншим
    зручним способом, погодженим Сторонами.</p>
  <p>2.2. Виконавець зобов’язаний не пізніше наступного робочого дня з дня отримання замовлення, надіслати Замовнику
    Підтвердження замовлення. В Підтвердженні замовлення Виконавець вказує вид Послуг, ціну та вартість Послуг, що
    будуть
    надані Виконавцем в погоджені в Договорі строки.
    Підтвердження надається Замовнику засобами електронного зв’язку або іншим зручним способом, погодженим Сторонами на
    адресу/номер, що зазначені Замовником в реквізитах до цього Договору.</p>
  <p> 2.3. Строк надання Послуг за відповідним замовленням становить 15 (п’ятнадцять) робочих днів з моменту підписання
    Сторонами Акту прийому-передачі відібраних зразків для проведення лабораторного аналізу, за умови здійснення
    (оплати)
    Замовником передоплати (авансу) відповідно до пункту 3.4. цього Договору.</p>
  <p>2.4. Факт надання Послуг зі сторони Виконавця за відповідним замовленням та факт приймання таких Послуг Замовником
    (у тому числі паспорта якості) засвідчуватиметься Актом здавання-приймання наданих послуг, який складається
    Виконавцем та
    надсилається Замовнику для підписання. Замовник зобов’язується підписати та повернути Виконавцю акт
    здавання-приймання
    наданих послуг протягом 3-х робочих днів з дати отримання.</p>
  <p> 2.5. У разі не підписання Замовником і не повернення Виконавцю Акта здавання-приймання наданих послуг протягом 3
    (трьох) робочих днів з моменту отримання Акта та не надання Замовником в цей самий строк письмової мотивованої
    відмови
    від підписання Акта, Сторони вважатимуть, що Послуги надані належним чином і в повному обсязі. У такому випадку Акт
    здавання-приймання наданих послуг вважатиметься погодженим обома Сторонами з зазначеної в ньому дати, за наявності
    підпису тільки Виконавця.</p>
  <p> 2.6. Акт здавання-приймання наданих послуг, підписаний Сторонами (у тому числі, підписаний лише Виконавцем згідно
    пункту 2.5. Договору), є підтвердженням відсутності претензій зі сторони Замовника щодо виконання умов цього
    Договору
    Виконавцем. В Акті здавання-приймання наданих послуг обов’язково зазначається вартість (ціна) наданих Послуг.</p>

  <h4 class="text-center fw-bold"> 3. ЦІНА (ВАРТІСТЬ) ПОСЛУГ ТА УМОВИ ОПЛАТИ ПОСЛУГ</h4>
  <p>3.1. Ціна (вартість) Послуг за кожним окремим замовленням визначається Сторонами відповідно до узгодженого
    Сторонами
    додатку (прейскуранту) до цього Договору та остаточно фіксується в Акті здавання-приймання наданих послуг.
    Податки та інші обов’язкові платежі (збори) включаються Виконавцем у вартість (ціну) Послуг відповідно до чинного
    законодавства та зазначаються у додатках (прейскурантах) до цього Договору.</p>
  <p>3.2. Виконавець вправі змінювати ціну Послуг у нижченаведеному порядку.
    Виконавець зобов'язаний завчасно (не пізніше ніж за 10 (десять) календарних днів до бажаної дати зміни ціни Послуг)
    письмово повідомити Замовника про зміну ціни Послуг.
    Протягом 10 (десяти) календарних днів з моменту отримання Замовником письмового повідомлення Виконавця про зміну
    ціни
    Послуг Сторони укладають відповідний додаток (прейскурант) до цього Договору в новій редакції. У випадку не
    укладення
    Сторонами протягом зазначеного строку відповідного додатку (прейскуранту) в новій редакції, Виконавець вправі
    припинити приймання замовлень Замовника і розірвати цей Договір в односторонньому порядку. Договір буде вважатися
    розірваним з дати, вказаної у повідомленні про розірвання Договору.</p>
  <p>3.3. Оплата Послуг (їх вартості) здійснюється в безготівковій формі, шляхом перерахування відповідної грошової суми
    на
    банківський поточний рахунок Виконавця, на підставі виставлених Виконавцем рахунків. Днем оплати вважається день
    надходження грошових коштів на поточний рахунок Виконавця. Оплата здійснюється в національній валюті України −
    гривні.</p>
  <p> 3.4. За надання передбачених цим Договором Послуг Замовник здійснює передоплату (аванс) шляхом перерахування 100%
    (сто
    відсотків) вартості (ціни) відповідних Послуг на поточний рахунок Виконавця. Передоплата (аванс) здійснюється
    протягом
    3 (трьох) банківських днів з моменту отримання Замовником Підтвердження замовлення згідно п. 2.2. цього Договору.
    Виконавець приступає до виконання своїх обов’язків за цим Договором (у т.ч. до надання Послуг) лише після фактичного
    отримання передоплати (авансу) від Замовника у розмірі 100% (сто відсотків) вартості відповідних Послуг.</p>
  <p>3.5. Загальна вартість наданих за цим Договором Послуг Сторонами не обмежується і складається із суми вартості
    Послуг,
    які виконувалися згідно замовлень, отриманих Виконавцем від Замовника, протягом строку дії цього Договору, і яка
    зафіксована Сторонами у відповідних Актах здавання-приймання наданих послуг.</p>
  <h4 class="text-center fw-bold"> 4. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН</h4>
  <div class="text-center fst-italic  fw-bold">4.1. Виконавець зобов'язаний:</div>
  <p> 4.1.1. За умови сплати Замовником авансу, передбаченого пунктом 3.4. цього Договору, надати Замовнику визначені
    цим
    Договором Послуги в строк (термін), передбачений цим Договором;</p>
  <p>4.1.2. Забезпечувати якість наданих Послуг відповідно до вимог, які узгоджені Виконавцем із Замовником;</p>
  <p>4.1.3. За результатами надання Послуг передати Замовникові паспорт якості;</p>
  <p> 4.1.4. При неможливості надати Послуги в передбачений цим Договором строк (термін) повідомити про це Замовника
    шляхом
    усного або письмового повідомлення.</p>
  <div class="text-center fst-italic  fw-bold"> 4.2. Виконавець має право:</div>
  <p> 4.2.1. Отримувати від Замовника усю інформацію, необхідну для надання Послуг за цим Договором;</p>
  <p> 4.2.2. Отримати за надані Послуги плату (грошову суму) в розмірах і у строки, передбачені цим Договором;</p>
  <p> 4.2.3. Змінювати ціни за Послуги у встановленому цим Договором порядку;</p>
  <p> 4.2.4. Покласти виконання зобов’язань за цим Договором (у тому числі зобов’язань, передбачених п.1.1., 1.2. та
    4.1.
    цього Договору) на інших осіб;</p>
  <p>4.2.5. Розірвати (припинити) цей Договір в односторонньому порядку;</p>
  <p>4.2.6. Припинити надання Послуг Замовнику у випадку невиконання, та/або несвоєчасного виконання, та/або порушення
    Замовником своїх зобов’язань по оплаті Послуг, передбачених пунктами 1.1., 3.4. цього Договору, а також у випадку
    прийняття Виконавцем рішення про розірвання цього Договору.</p>
  <div class="text-center fst-italic  fw-bold"> 4.3. Замовник зобов'язаний:</div>
  <p>4.3.1. Приймати від Виконавця надані Послуги шляхом підписання і повернення Виконавцю відповідних Актів
    здавання-приймання наданих послуг і повністю оплачувати їх вартість в розмірах і в строки (терміни), які встановлені
    згідно умов цього Договору;</p>
  <p> 4.3.2. Не розголошувати третім особам (які не є сторонами цього Договору) інформацію, яка йому стала відомою у
    зв’язку
    з укладенням цього Договору та у зв’язку з виконанням цього Договору;</p>
  <p>4.3.3. Забезпечувати Виконавця інформацією, необхідною Виконавцеві для надання Послуг.</p>

  <h4 class="text-center fw-bold"> 5. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h4>
  <p>5.1. За невиконання та/або неналежне виконання умов цього Договору винна Сторона несе відповідальність в порядку,
    визначеному чинним законодавством України та цим Договором.</p>
  <p>5.2. У випадку порушення (невиконання, неналежного виконання, несвоєчасного виконання, прострочення,
    протермінування)
    Замовником своїх грошових (фінансових) зобов’язань щодо оплати Послуг, передбачених цим Договором, Замовник
    зобов’язаний сплатити на користь Виконавця пеню в розмірі подвійної облікової ставки Національного банку України, що
    діяла у період, за який сплачується пеня (тобто у період впродовж якого існувала заборгованість), від суми грошової
    заборгованості за кожен день такого порушення (прострочення, протермінування, несвоєчасного виконання, невиконання,
    неналежного виконання).</p>
  <p>5.3. Сплата Стороною пені не звільняє жодну зі Сторін від обов'язку погасити свою заборгованість перед іншою
    Стороною
    по оплаті за надані Послуги та від обов’язку повністю відшкодувати протилежній Стороні усі збитки (у тому числі й
    упущену вигоду), завдані невиконанням (неналежним виконанням) своїх грошових зобов’язань. При цьому кожна із Сторін
    зобов'язана сплатити суму боргу з урахуванням встановленого індексу інфляції за весь час прострочення оплати. Пеня
    підлягає стягненню у повному розмірі, незалежно від відшкодування збитків.
    Сторони домовились про таку послідовність погашення (сплати) Сторонами своїх грошових зобов’язань за цим Договором:
  </p>
  <p> 1) пеня;</p>
  <p>2) прострочена (несвоєчасно сплачена), та/або частково несплачена, та/або несплачена сума;</p>
  <p> 3) плата за надані Послуги.</p>
  <p> 5.4. Позовна давність за позовами про стягнення пені встановлюється Сторонами даного Договору тривалістю в три
    роки.</p>

  <h4 class="text-center fw-bold"> 6. ОБСТАВИНИ НЕПЕРЕБОРНОЇ СИЛИ</h4>
  <p>6.1. При настанні обставин непереборної сили (обставин форс-мажору), тобто неможливості повного або часткового
    виконання будь-якою із Сторін зобов’язань по цьому Договору внаслідок обставин непереборної сили, а саме: пожежі,
    стихійного лиха, урядових заборон, блокади або інших незалежних від Сторін обставин, термін (строк) виконання
    зобов’язань продовжується на такий термін (строк), протягом якого будуть діяти вищевказані обставини та їх наслідки.
    Сторона, для якої наступили обставини непереборної сили, зобов'язана письмово протягом 5 (п’яти) робочих днів з
    моменту настання цих обставин повідомити іншу Сторону про це, вказати орієнтовний термін (строк) дії обставин
    непереборної сили, а також вжити заходів для зменшення заподіяння збитків другій Стороні.</p>
  <p>6.2. Якщо вищевказані обставини тривають більше тридцяти календарних днів, кожна із Сторін вправі відмовитися від
    цього Договору (тобто розірвати (припинити) цей Договір) в односторонньому порядку, направивши іншій Стороні
    відповідне повідомлення. В таких випадках жодна зі Сторін не вправі пред'являти претензії іншій Стороні для
    компенсації будь-яких можливих збитків, за винятком претензії Виконавця до Замовника щодо обов’язку повністю
    здійснити
    оплату за усі надані Послуги, які Виконавець надав Замовнику до моменту виникнення обставин непереборної сили.
    До моменту припинення Договору відповідно до умов цього пункту Замовник зобов'язаний провести повний розрахунок з
    Виконавцем за усі надані Послуги. Невиконання цього обов'язку позбавляє Замовника права розірвати (припинити) цей
    Договір в односторонньому порядку відповідно до умов цього пункту та не звільняє Замовника від обов’язку нести
    відповідальність за невиконання та/або неналежне виконання умов цього Договору.</p>
  <p> 6.3. Виникнення обставин непереборної сили не є підставою для відмови Замовника від проведення оплати за Послуги,
    які
    були йому надані Виконавцем до моменту виникнення обставин непереборної сили.</p>
  <p> 6.4. Факт настання обставин непереборної сили повинен підтверджуватися довідкою Торгово-промислової палати України
    або
    іншого компетентного органу.</p>

  <h4 class="text-center fw-bold">7. ТРЕТЕЙСЬКЕ ЗАСТЕРЕЖЕННЯ</h4>
  <p>7.1. Всі спори і розбіжності, що можуть виникнути між Сторонами із умов цього Договору, або в зв`язку з ним (при
    його
    укладенні, виконанні, зміні, розірванні, припиненні, визнанні неукладеним, визнанні недійсним і т. ін.) підлягають
    вирішенню Постійно діючим третейським судом при Асоціації «Всеукраїнська інвестиційна асоціація», який знаходиться
    за
    адресою – м. Львів, вул. Героїв УПА, 72.</p>
  <p> 7.2. Сторони прийшли до взаємної згоди про те, що третейський розгляд здійснюється Третейським судом, в складі
    одного
    третейського судді, який призначається в порядку, передбаченому Регламентом Постійно діючого третейського суду при
    Асоціації «Всеукраїнська інвестиційна асоціація».</p>
  <p>7.3. Сторони визнають обов`язковість рішення обраного Третейського суду відповідно до статті 50 Закону України «Про
    третейські суди». Протокол засідання Третейського суду не ведеться.</p>
  <p>7.4. Сторони зобов`язуються сумлінно виконувати обов`язки і вимоги Третейського суду з метою об`єктивного розгляду
    спору. Рішення Третейського суду для Сторін є остаточним і підлягає виконанню.</p>

  <h4 class="text-center fw-bold"> 8. ТЕРМІН (СТРОК) ДІЇ ДОГОВОРУ</h4>
  <p> 8.1. Цей Договір набуває чинності (є укладеним) з моменту його підписання уповноваженими представниками Сторін і
    діє протягом 12 (дванадцяти) календарних місяців, але в будь-якому випадку до моменту повного та належного виконання
    Сторонами усіх своїх зобов’язань за цим Договором.
    У випадку, якщо протягом 30 (тридцяти) календарних днів перед датою закінчення (спливу) строку дії Договору,
    передбаченого цим пунктом, жодна зі Сторін письмово не повідомить протилежну Сторону про свою відмову від
    продовження цього строку, цей строк щоразу автоматично пролонговується (продовжується) ще на 12 (дванадцять)
    місяців.</p>
  <p>8.2. Розірвання (припинення) цього Договору в односторонньому порядку та/або відмова від виконання умов цього
    Договору
    в односторонньому порядку допускаються лише у випадках, передбачених цим Договором та додатками до нього.</p>
  <p>8.3. Цей Договір може бути розірваний (припинений) Виконавцем до моменту закінчення строку (терміну) його дії,
    шляхом
    направлення відповідного повідомлення Замовнику.
    Договір вважається розірваним з дати вказаної в повідомленні про розірвання Договору.</p>
  <p>8.4. Закінчення строку дії цього Договору (його дострокове розірвання) не звільняє жодну зі Сторін від
    відповідальності за його порушення (невиконання чи неналежне виконання), яке мало місце під час дії цього Договору.
  </p>

  <h4 class="text-center fw-bold">9. ПРИКІНЦЕВІ ПОЛОЖЕННЯ</h4>
  <p>9.1. Зміни і доповнення до цього Договору, а також тексти його додатків (додаткових угод) вважаються дійсними лише
    в
    тому випадку, якщо вони вчинені у письмовій формі і підписані обома Сторонами. Одностороння зміна умов цього
    Договору
    не допускається, якщо інше не передбачено умовами цього Договору.
    Всі акти, додатки (додаткові угоди), доповнення до цього Договору становлять його невід'ємну частину.</p>
  <p> 9.2. Відносини між Сторонами, що не врегульовані положеннями (умовами) цього Договору, регулюються нормами чинного
    цивільного законодавства України.</p>
  <p>9.3. Замовник не вправі передавати свої права та обов’язки по цьому Договору третім особам без попередньої
    письмової
    згоди на те Виконавця.
    Сторони, усвідомлюючи зміст ч. 2 ст. 902 Цивільного кодексу України, погоджуються, що Виконавець вправі покласти усі
    свої зобов’язання за цим Договором на третіх осіб. При цьому Виконавець несе відповідальність перед Замовником за
    порушення умов цього Договору.</p>
  <p>9.4. Сторони зобов’язуються в п’ятиденний строк з моменту настання відповідної події повідомити одна одну про зміну
    своєї юридичної адреси, банківських та інших реквізитів, про початок процедури реорганізації або ліквідації. У разі
    початку процедури реорганізації Сторони в п’ятиденний термін зобов’язуються укласти додаткову угоду, в якій буде
    зазначено про подальший порядок взаємовідносин між Сторонами. Реорганізація будь-якої із Сторін не є підставою для
    припинення цього Договору.</p>
  <p> 9.5. Сторони погодили, що текст цього Договору, будь-які матеріали, інформація і відомості, які стосуються
    Договору, є
    конфіденційними і не можуть передаватись третім особам без попередньої письмової згоди на це іншої Сторони Договору,
    крім випадків, коли така передача пов'язана з одержанням офіційних дозволів, документів для виконання Договору або
    сплати податків, інших обов'язкових платежів, а також у випадках, передбачених чинним законодавством України.
    Сторони зобов’язані зберігати сувору конфіденційність про умови цього Договору та застосовувати усі можливі заходи
    для
    запобігання розголошення одержаної інформації.</p>
  <p> 9.6. Недійсність (визнання недійсним) будь-якого з положень (умов) цього Договору не є підставою для недійсності
    (визнання недійсним) інших положень (умов) цього Договору та/або усього Договору в цілому.</p>
  <p>9.7. Виконавець за цим Договором має статус платника податку на прибуток підприємств на загальних умовах.</p>
  <p>9.8. Замовник за цим Договором має статус ________________________________________.</p>
  <p>9.9. Текст цього Договору складено на українській мові в двох дійсних (оригінальних) примірниках, що мають однакову
    юридичну силу, − по одному примірнику для кожної Сторони.
    Усі виправлення (корективи) за текстом цього Договору мають юридичну силу лише при взаємному їх посвідченні
    представниками Сторін у кожному окремому випадку.</p>

  <h4 class="text-center fw-bold"> 10. РЕКВІЗИТИ ТА ПІДПИСИ СТОРІН ДОГОВОРУ:</h4>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">ВИКОНАВЕЦЬ</th>
        <th scope="col">ЗАМОВНИК</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Адреса:</td>
        <td>Адреса:</td>       
      </tr>
      <tr>
        <td> Поштові реквізити:</td>
        <td> Поштові реквізити:</td>       
      </tr>
      <tr>
        <td> р/р</td>
        <td> р/р</td>       
      </tr>
      <tr>
        <td> відкритий в </td>
        <td> відкритий в </td>       
      </tr>
      <tr>
        <td> МФО</td>
        <td> МФО</td>       
      </tr>
      <tr>
        <td> Код</td>
        <td> Код</td>       
      </tr>
      <tr>
        <td>ІПН</td>
        <td>ІПН</td>       
      </tr>
      <tr>
        <td>Свідоцтво платника ПДВ №</td>
        <td>Свідоцтво платника ПДВ №</td>       
      </tr>
      <tr>
        <td>Тел.</td>
        <td>Тел.</td>       
      </tr>
      <tr>
        <td>Факс:</td>
        <td>Факс:</td>       
      </tr>
      <tr>
        <td> Е-mail:</td>
        <td> Е-mail:</td>       
      </tr>
      <tr>
        <td> ___________________/________________/
            м.п.</td>
        <td> ___________________/________________/
            м.п.</td>       
      </tr>
    </tbody>
  </table>


</div>
