.active{
    border-bottom: 1px solid green;
    color: green;
  }

   
.btn-outline-success, .border-success{
    border: 1px solid lime !important;
  }
  
  .btn-outline-success:hover, .btn-success{
    background-color:  lime ;
  }