<div class="input-group mb-3">
  <input type="text" class="form-control">
  <button data-bs-toggle="modal" data-bs-target="#discountModal" class="btn btn-outline-secondary"
    type="button">Додати акцію</button>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Назва знижки</th>
      <th scope="col">Зображення</th>
      <th scope="col">Розмір знижки</th>
      <th scope="col">Опис</th>
      <th scope="col">Вартість</th>
      <th scope="col">Термін дії</th>
      <th scope="col">Редагувати</th>
      <th scope="col">Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of adminDiscounts">
      <td>{{ d.id }}</td>
      <td>{{ d.discountName }}</td>
      <td>
        <img [src]="d.imagePath" alt="" width="100px">
      </td>
      <td>{{ d.valueDiscount }}</td>
      <td>{{ d.description }}</td>
      <td>{{ d.price }}</td>
      <td>{{ d.validityPeriod }}</td>
      <td>
        <button (click)="editDiscount(d)" data-bs-toggle="modal" data-bs-target="#discountModal"
          class="btn btn-outline-warning mx-3 rounded-pill">
          <i class="bi bi-pencil-fill"></i></button>
      </td>
      <td>
        <button (click)="deleteDiscount(d)" class="btn btn-outline-danger rounded-pill">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form [formGroup]="discountForm" class="modal-content" (ngSubmit)="saveDiscount()">
      <div class="modal-header">
        <h5 class="modal-title" id="discountModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Назва знижки:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="discountName">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Розмір знижки:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="valueDiscount">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Опис:</label>
          <div class="col-sm-10">
            <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Вартість:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="price">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">Термін дії:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="validityPeriod">
            </div>
        </div>
        <div class="mb-3">
          <input type="text" formControlName="imagePath" [hidden]="true">
          <input *ngIf="!isUploaded" type="file" (change)="upload($event)">
          <ng-container *ngIf="isUploaded">
            <img [src]="valueByControl('imagePath')" alt="" width="120px">
           
            <button type="button" class="btn btn-outline-danger m-3 rounded-pill" (click)="deleteImage()"> 
              <i class="bi bi-trash-fill fs-2"></i>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #close>Закрити</button>
        <button type="submit" class="btn btn-primary" [disabled]="discountForm.invalid">Зберегти</button>
      </div>
    </form>
  </div>
</div>
